* {
    padding:0px;
    margin:0px;
    font-family: 'Lobster', cursive;
    font-size:18px;
}
.nav{
	margin:0; /*overriding bootstrap margin*/
	
}

.navbar-header{
	display:flex;
	justify-content: space-between;
}

#header{
	display:flex;
	align-items:center;
}

#logo-text{
    color: #fb2828;
    font-size: 25px;
    text-decoration: underline;
}

.navbar-brand{
	font-size:25px;
	text-decoration:underline;
}

.navbar-default .navbar-nav>li>a{
	background:#f7f7f7;
	font-size:22px;
}

.container{
	margin-top:20px;
	margin-bottom:20px;
}
.jumbotron{
	margin:0;

}
.jumbotron p{
	text-align:justify;
	color: #0000009c;
}

#about p{
	font-family: monospace;
    font-weight: bold;
    font-style: italic;
    font-size:17px;
}

#footer{
	background:#f8f8f8;
	color:#777;
	padding:25px;
    border-top: 1px solid #e7e7e7;
}

#copyright-panel{
	text-align: center;
}
.form-control{
	width:25vw;
	min-width:250px;
	height:40px;
}

.btn, #footer-row .col-sm-5 h4, input, select, option{
	font-family: monospace;
    font-weight: bold;
    font-style: italic;
}


#register-container, #login-container, #order-container, #addorder-container{
	display:grid;
	justify-content: center;
}

#footer-row{
	display: flex;
    justify-content: space-between;
}

